[project]
	description = Fifo library for Lua
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/daurnimator
[access "refs/for/refs/*"]
	read = group user/daurnimator
	push = group user/daurnimator
	label-Code-Review = -2..+2 group user/daurnimator
	label-Verified = -1..+1 group user/daurnimator
	rebase = group user/daurnimator
	removeReviewer = group user/daurnimator
	submit = group user/daurnimator
[access "refs/heads/*"]
	read = group user/daurnimator
	create = group user/daurnimator
	push = +force group user/daurnimator
	pushMerge = group user/daurnimator
[access "refs/tags/*"]
	push = +force group user/daurnimator
	pushTag = group user/daurnimator
	pushSignedTag = group user/daurnimator
